<div
  class="isolated-card"
  data-test-isolated-card={{@card.canonicalURL}}
  data-test-isolated-card-mode={{@mode}}
>
  {{#if (and this.isViewMode this.headerFields)}}
    <header class="isolated-card__header">
      {{!-- <div class="isolated-card__label">{{humanize @card.csId}}</div> --}}
      <div class="isolated-card__img" style={{css-url "background-image" this.headerFields.image}} />
      <div>
        <h1 class="isolated-card__title">{{this.headerFields.title}}</h1>
        <h2 class="isolated-card__description">{{this.headerFields.description}}</h2>
      </div>
    </header>
  {{/if}}

  <AnimatedContainer class={{if this.isViewMode "isolated-card--view-fields"}}>
    {{#if (and this.isViewMode this.fieldGroups)}}
      {{#each this.fieldGroups as |group|}}
        <section class="media-detail-section media-detail-section--{{@mode}}">
          <h3 class="media-detail-section__title">{{group.title}}</h3>
          <div class="media-detail-section__contents">
            {{#each group.fields as |field|}}
              <FieldRenderer
                @field={{field}}
                @mode={{@mode}}
              />
            {{/each}}
          </div>
        </section>
      {{/each}}
    {{else}}
      <section class="media-detail-section media-detail-section--{{@mode}}">
        <div class="media-detail-section__contents">
          <MaybeAnimate
            @mode={{@mode}}
            @animationMode="schema"
            @component="animated-each"
            @content={{@fields}}
            @key="nonce"
            @use={{this.transition}}
            @duration={{this.duration}} as |field|>
            <FieldRenderer
              @field={{field}}
              @position={{field.position}}
              @mode={{@mode}}
              @dropField={{@dropField}}
              @removeField={{@removeField}}
              @toggleStubField={{@toggleStubField}}
              @setPosition={{@setPosition}}
              @setCardValue={{@setCardValue}}
              @setCardReference={{@setCardReference}}
              @setNeededWhenEmbedded={{@setNeededWhenEmbedded}}
              @setFieldName={{@setFieldName}}
              @selectField={{@selectField}}
              @selectedField={{@selectedField}}
              @loadedField={{@loadedField}}
              @selectedFieldName={{@selectedFieldName}}
            />
            {{#if (and (eq @mode "schema") @dropField (not (eq field.csRealm "stub-card")))}}
              <DropZone
                @card={{@card}}
                @dropField={{@dropField}}
                @position={{inc field.position}}
                @toggleStubField={{@toggleStubField}}
              />
            {{/if}}
          </MaybeAnimate>
        </div>
      </section>
    {{/if}}
  </AnimatedContainer>
</div>